#managmetn-team__main {
  background: #ff1b68;
  margin-top: 2rem;
  padding: 16px;
  color: white;
  margin: 0 auto;
  width: auto;
}

#managmetn-team__main {
  color: white;
  margin: 2rem auto;
}

.managment-team__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.managment-team__list-item {
  display: block;
  margin: auto;
  font-weight: bold;
  width: 30%;
}

.managment-team__description {
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
}

.managment-team__image {
  background-color: #ffcede;
  width: 6rem;
  height: 6rem;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

@media (min-width: 40rem) {
  .managment-team__list-item {
    display: inline-block;
  }

  .managment-team__image {
    margin: 2rem auto;
  }

  .managment-team__description {
    font-size: 1.1rem;
  }
}
