.book {
  color: white;
  position: relative;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.book-image {
  width: 90%;
  height: 100%;
}

.book-title {
  position: absolute;
  background-color: #4094c8;
  color: white;
  top: -39px;
  left: 80px;
  padding: 5px;
  border-radius: 8px;
}

.book-section {
  font-weight: bold;
  color: #c3f8f8;
  font-family: monospace;
  font-size: 15px;
}

.book-badge {
  position: absolute;
  background-color: #ff1b68;
  color: white;
  z-index: 100;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  bottom: 75px;
  right: 125px;
  border-radius: 8px;
}

.order-book__specific {
  background-color: white;
  font: inherit;
  color: #4094c8;
  font-weight: bold;
  border: 1.8px solid #4094c8;
  padding: 13px;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.order-book__specific:hover {
  color: white;
  background-color: #4094c8;
}
.order-book__specific:focus {
  outline: none;
}
