.single-book__container {
  text-align: center;
  padding-top: 2rem;
}

.book-title {
  color: #4094c8;
  font-weight: bold;
}

.book-section {
  color: #ff000081;
}

.book-gallery__image {
  width: 30vw;
}

.single-book__description {
  color: #525151;
}

.order-book__specific {
  font-size: 1.5rem;
  background-color: #4094c8;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 5rem;
  box-shadow: 5px 5px 5px grey;
  color: white;
}

.order-book__specific:hover,
.order-book__specific:active {
  background-color: white;
  color: #4094c8;
}
