.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.homepage-container {
  position: relative;
  top: 2.3rem;
}

.bookgallery-link {
  width: 100%;
  margin: auto;
  text-align: center;
}
